# subsetting yelp data by restaurant (local)

In [1]:
import os
os.getcwd()

'/Users/armandalewis/Desktop/s_d/sd_proj'

In [2]:
import findspark
findspark.init()
print ("i guess it works")

i guess it works

In [3]:
from pyspark import SparkContext as sc
import pandas as pd
import os
import numpy as np
from pyspark.sql import SQLContext
import json
import pyspark

In [4]:
sc = sc(appName="yelp")
mySpark = SQLContext(sc)

## read in json files and show

In [5]:
business = mySpark.read.json('yelp_dataset/yelp_academic_dataset_business.json')

In [6]:
review = mySpark.read.json('yelp_dataset/yelp_academic_dataset_review.json')

In [7]:
review2 = review.withColumnRenamed('stars', 'review_stars')

In [8]:
user = mySpark.read.json('yelp_dataset/yelp_academic_dataset_user.json')

In [9]:
#review.show()
#review2.show()
#user.show()

In [10]:
tip = mySpark.read.json('yelp_dataset/yelp_academic_dataset_tip.json')

In [11]:
#tip.show()

In [12]:
checkin = mySpark.read.json('yelp_dataset/yelp_academic_dataset_checkin.json')

In [13]:
#business.show()

## create views

In [14]:
business.createOrReplaceTempView('business')
business.show(2)

+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|      city|               hours|is_open|  latitude|   longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
|     10913 Bailey Rd|[,,,,,,, True,, T...|f9NumwFMBDn751xgF...|Active Life, Gun/...| Cornelius|[11:0-20:0, 10:0-...|      1|35.4627242| -80.8526119|The Range At Lake...|      28031|          36|  3.5|   NC|
|8880 E Via Linda,...|[,,,,,,,,,,, True...|Yzvjg0SayhoZgCljU...|Health & Medical,...|Scottsdale|                null|      1|33.5694041|-111.8902637|   Carlos Santo, NMD|      85258|           4|  5.0|   AZ|
+--------------------+--------------------+--------------------+--------------------+----------+--------------------+-------+----------+------------+--------------------+-----------+------------+-----+-----+
only showing top 2 rows

In [15]:
review2.createOrReplaceTempView('review')
review2.show(2)

+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|review_stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+
|-MhfebM0QIsKt87iD...|   0|2015-04-15 05:21:16|    0|xQY8N_XvtGbearJ5X...|         2.0|As someone who ha...|     5|OwjRMXRC0KyPrIlcj...|
|lbrU8StCq3yDfr-QM...|   0|2013-12-07 03:16:52|    1|UmFMZ8PyXZTY2Qcwz...|         1.0|I am actually hor...|     1|nIJD_7ZXHq-FX8byP...|
+--------------------+----+-------------------+-----+--------------------+------------+--------------------+------+--------------------+
only showing top 2 rows

In [16]:
user.createOrReplaceTempView('user')
user.show(2)

+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+--------+------------+------+--------------------+-------------------+
|average_stars|compliment_cool|compliment_cute|compliment_funny|compliment_hot|compliment_list|compliment_more|compliment_note|compliment_photos|compliment_plain|compliment_profile|compliment_writer|cool|               elite|fans|             friends|funny|    name|review_count|useful|             user_id|      yelping_since|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+--------+------------+------+--------------------+-------------------+
|         3.57|             22|              0|              22|             3|              1|              2|             11|                0|              15|                 1|               10| 227|                    |  14|oeMvJh94PiGQnx_6G...|  225|  Rafael|         553|   628|ntlvfPzc8eglqvk92...|2007-07-06 03:27:11|
|         3.84|             63|              2|              63|            36|              1|              4|             33|                5|              37|                 5|               21| 400|2008,2009,2010,20...|  27|ly7EnE8leJmyqyePV...|  316|Michelle|         564|   790|FOBRPlBHa3WPHFB5q...|2008-04-28 01:29:25|
+-------------+---------------+---------------+----------------+--------------+---------------+---------------+---------------+-----------------+----------------+------------------+-----------------+----+--------------------+----+--------------------+-----+--------+------------+------+--------------------+-------------------+
only showing top 2 rows

In [17]:
tip.createOrReplaceTempView('tip')
tip.show(2)

+--------------------+----------------+-------------------+--------------------+--------------------+
|         business_id|compliment_count|               date|                text|             user_id|
+--------------------+----------------+-------------------+--------------------+--------------------+
|UYX5zL_Xj9WEc_Wp-...|               0|2013-11-26 18:20:08|Here for a quick mtg|hf27xTME3EiCp6NL6...|
|Ch3HkwQYv1YKw_FO0...|               0|2014-06-15 22:26:45|Cucumber strawber...|uEvusDwoSymbJJ0au...|
+--------------------+----------------+-------------------+--------------------+--------------------+
only showing top 2 rows

In [18]:
checkin.createOrReplaceTempView('checkin')
checkin.show(2)

+--------------------+--------------------+
|         business_id|                date|
+--------------------+--------------------+
|--1UhMGODdWsrMast...|2016-04-26 19:49:...|
|--6MefnULPED_I942...|2011-06-04 18:22:...|
+--------------------+--------------------+
only showing top 2 rows

## subset data

In [19]:
restaurant_subset = mySpark.sql("SELECT * FROM business WHERE (categories LIKE'%Restaurants%' or categories LIKE  '%Restaurant%' or categories LIKE '%Cafes%' or categories LIKE '%Bakeries%' or categories LIKE '%Bars%' or categories LIKE '%Desserts%' or categories LIKE '%Coffee & Tea%' or categories LIKE '%Juice Bars & Smoothies%' or categories LIKE '%Food Trucks%' or categories LIKE '%Caterers%' or categories LIKE '%Coffee Roasteries%' or categories LIKE '%Delicatessen%' or categories LIKE '%Deli%')")

In [20]:
restaurant_subset.createOrReplaceTempView('restaurant_subset')

In [21]:
restaurant_subset.show(2)

+-----------------+--------------------+--------------------+--------------------+---------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
|          address|          attributes|         business_id|          categories|     city|               hours|is_open|     latitude|     longitude|                name|postal_code|review_count|stars|state|
+-----------------+--------------------+--------------------+--------------------+---------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
|   404 E Green St|[,, 'none',,,,, F...|pQeaRpvuhoEqudo3u...|Ethnic Food, Food...|Champaign|[11:30-14:30, 11:...|      1|   40.1104457|   -88.2330726| The Empanadas House|      61820|           5|  4.5|   IL|
|2831 Parmenter St|[,,,,,,, True,, T...|M_guz7Dj7hX0evS67...|Desserts, Food, I...|Middleton|[11:0-22:0, 0:0-0...|      1|43.1053100891|-89.5101417974|Chocolate Shoppe ...|      53562|           6|  3.5|   WI|
+-----------------+--------------------+--------------------+--------------------+---------+--------------------+-------+-------------+--------------+--------------------+-----------+------------+-----+-----+
only showing top 2 rows

In [22]:
table1 = mySpark.sql("SELECT a.*, b.review_id, b.user_id, b.review_stars, b.useful, b.funny, b.cool, b.text, b.date, c.business_checkin_dates from (select * from restaurant_subset) as a left join (select * from review) as b on (a.business_id = b.business_id) left join (select business_id, date as business_checkin_dates from checkin) as c on (a.business_id = c.business_id)")

In [23]:
table1.createOrReplaceTempView('table1')

In [24]:
table1.show(2)

+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+
|             address|          attributes|         business_id|          categories|     city|               hours|is_open| latitude| longitude|                name|postal_code|review_count|stars|state|           review_id|             user_id|review_stars|useful|funny|cool|                text|               date|business_checkin_dates|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+
|3355 Las Vegas Bl...|[,, 'full_bar', {...|--9e1ONYQuAa-CB_R...|Seafood, Cajun/Cr...|Las Vegas|[17:0-22:30, 17:0...|      1|36.123183|-115.16919|Delmonico Steakhouse|      89109|        1759|  4.0|   NV|tTD3wegtsiHOjVTLg...|joe4i-lcCFd2wViA2...|         5.0|     0|    0|   0|On yelp 5 stars =...|2018-05-08 16:39:25|  2010-02-08 05:56:...|
|3355 Las Vegas Bl...|[,, 'full_bar', {...|--9e1ONYQuAa-CB_R...|Seafood, Cajun/Cr...|Las Vegas|[17:0-22:30, 17:0...|      1|36.123183|-115.16919|Delmonico Steakhouse|      89109|        1759|  4.0|   NV|4Ph6dJlfjDtH3LBGR...|WUAidypEtNEpL8kJ3...|         5.0|     0|    0|   0|I ate the duck an...|2012-10-08 13:28:59|  2010-02-08 05:56:...|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+
only showing top 2 rows

In [25]:
#had to quote field names

In [26]:
#table2 = mySpark.sql("SELECT a.*, b.user_name, b.user_review_count, b.user_yelping_since, b.user_useful, b.user_funny, b.user_cool, b.user_elite, b.user_friends, b.user_fans, b.user_average_stars, b.user_compliment_hot, b.user_compliment_more, b.user_compliment_profile, b.user_compliment_cute, b.user_compliment_list, b.user_compliment_note, b.user_compliment_plain, b.user_compliment_cool, b.user_compliment_funny, b.user_compliment_writer, b.user_compliment_photos from (select * from table1) as a left join (select 'user_id', 'user_name', 'user_review_count', 'user_yelping_since', 'user_useful', 'user_funny', 'user_cool', 'user_elite', 'user_friends', 'user_fans', 'user_average_stars', 'user_compliment_hot', 'user_compliment_more', 'user_compliment_profile', 'user_compliment_cute', 'user_compliment_list', 'user_compliment_note', 'user_compliment_plain', 'user_compliment_cool', 'user_compliment_funny', 'user_compliment_writer', 'user_compliment_photos' from user) as b on (a.user_id = b.user_id)")

In [27]:
table2 = mySpark.sql("SELECT a.*, 'b.user_name', 'b.user_review_count', 'b.user_yelping_since', 'b.user_useful', 'b.user_funny', 'b.user_cool', 'b.user_elite', 'b.user_friends', 'b.user_fans', 'b.user_average_stars', 'b.user_compliment_hot', 'b.user_compliment_more', 'b.user_compliment_profile', 'b.user_compliment_cute', 'b.user_compliment_list', 'b.user_compliment_note', 'b.user_compliment_plain', 'b.user_compliment_cool', 'b.user_compliment_funny', 'b.user_compliment_writer', 'b.user_compliment_photos' from (select * from table1) as a left join (select 'user_id', 'user_name', 'user_review_count', 'user_yelping_since', 'user_useful', 'user_funny', 'user_cool', 'user_elite', 'user_friends', 'user_fans', 'user_average_stars', 'user_compliment_hot', 'user_compliment_more', 'user_compliment_profile', 'user_compliment_cute', 'user_compliment_list', 'user_compliment_note', 'user_compliment_plain', 'user_compliment_cool', 'user_compliment_funny', 'user_compliment_writer', 'user_compliment_photos' from user) as b on (a.user_id = b.user_id)")

In [28]:
table2.createOrReplaceTempView('table2')

In [29]:
table2.show(2)

+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+-----------+-------------------+--------------------+-------------+------------+-----------+------------+--------------+-----------+--------------------+---------------------+----------------------+-------------------------+----------------------+----------------------+----------------------+-----------------------+----------------------+-----------------------+------------------------+------------------------+
|             address|          attributes|         business_id|          categories|     city|               hours|is_open| latitude| longitude|                name|postal_code|review_count|stars|state|           review_id|             user_id|review_stars|useful|funny|cool|                text|               date|business_checkin_dates|b.user_name|b.user_review_count|b.user_yelping_since|b.user_useful|b.user_funny|b.user_cool|b.user_elite|b.user_friends|b.user_fans|b.user_average_stars|b.user_compliment_hot|b.user_compliment_more|b.user_compliment_profile|b.user_compliment_cute|b.user_compliment_list|b.user_compliment_note|b.user_compliment_plain|b.user_compliment_cool|b.user_compliment_funny|b.user_compliment_writer|b.user_compliment_photos|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+-----------+-------------------+--------------------+-------------+------------+-----------+------------+--------------+-----------+--------------------+---------------------+----------------------+-------------------------+----------------------+----------------------+----------------------+-----------------------+----------------------+-----------------------+------------------------+------------------------+
|3355 Las Vegas Bl...|[,, 'full_bar', {...|--9e1ONYQuAa-CB_R...|Seafood, Cajun/Cr...|Las Vegas|[17:0-22:30, 17:0...|      1|36.123183|-115.16919|Delmonico Steakhouse|      89109|        1759|  4.0|   NV|tTD3wegtsiHOjVTLg...|joe4i-lcCFd2wViA2...|         5.0|     0|    0|   0|On yelp 5 stars =...|2018-05-08 16:39:25|  2010-02-08 05:56:...|b.user_name|b.user_review_count|b.user_yelping_since|b.user_useful|b.user_funny|b.user_cool|b.user_elite|b.user_friends|b.user_fans|b.user_average_stars| b.user_compliment...|  b.user_compliment...|     b.user_compliment...|  b.user_compliment...|  b.user_compliment...|  b.user_compliment...|   b.user_compliment...|  b.user_compliment...|   b.user_compliment...|    b.user_compliment...|    b.user_compliment...|
|3355 Las Vegas Bl...|[,, 'full_bar', {...|--9e1ONYQuAa-CB_R...|Seafood, Cajun/Cr...|Las Vegas|[17:0-22:30, 17:0...|      1|36.123183|-115.16919|Delmonico Steakhouse|      89109|        1759|  4.0|   NV|4Ph6dJlfjDtH3LBGR...|WUAidypEtNEpL8kJ3...|         5.0|     0|    0|   0|I ate the duck an...|2012-10-08 13:28:59|  2010-02-08 05:56:...|b.user_name|b.user_review_count|b.user_yelping_since|b.user_useful|b.user_funny|b.user_cool|b.user_elite|b.user_friends|b.user_fans|b.user_average_stars| b.user_compliment...|  b.user_compliment...|     b.user_compliment...|  b.user_compliment...|  b.user_compliment...|  b.user_compliment...|   b.user_compliment...|  b.user_compliment...|   b.user_compliment...|    b.user_compliment...|    b.user_compliment...|
+--------------------+--------------------+--------------------+--------------------+---------+--------------------+-------+---------+----------+--------------------+-----------+------------+-----+-----+--------------------+--------------------+------------+------+-----+----+--------------------+-------------------+----------------------+-----------+-------------------+--------------------+-------------+------------+-----------+------------+--------------+-----------+--------------------+---------------------+----------------------+-------------------------+----------------------+----------------------+----------------------+-----------------------+----------------------+-----------------------+------------------------+------------------------+
only showing top 2 rows

In [31]:
#table2.write.csv('table2_restaurant_subset.csv')
#table2.coalesce(1).write.format('json').save('restaurant_subset_table2.json')

In [33]:
table3 = mySpark.sql("SELECT a.*, b.tip_text, b.tip_date, b.tip_compliment_count from (select * from table2) as a left join (select user_id, business_id, text as tip_text, date as tip_date, compliment_count as tip_compliment_count from tip) as b on (a.business_id = b.business_id and a.user_id = b.user_id)")

In [34]:
table3.createOrReplaceTempView('table3')
#MY LAPTOP COULD NOT HANDLE THIS FINAL JOIN

In [35]:
table3.show(2)

In [32]:
#table3.write.csv('full_restaurant_subset.csv')
#table3.coalesce(1).write.format('json').save('full_restaurant_subset.json')